body {
  color: white;
  background-color: black;
}
div {
  font-size: 22px;
}
div:hover {
  animation: ani 6s infinite;
}
@keyframes ani {
  0% {font-size: 22px;}
  20% {font-size: 32px;}
  80% {font-size: 32px;}
  100% {font-size: 22px;}
  0% {background-color: white;}
  25% {background-color: yellow;}
  75% {background-color: yellow;}
  100% {background-color: white;}
}
#red {
  color:red;
}
img {
  width: 100%;
  filter: invert(90%);
}
